azureftp-for-sharepoint/07 Testers/ServiceTester/Service References/SharePointFtpService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AzureFtpForSharePoint.Server.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AzureFtpForSharePoint.Server.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OpenResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OpenResponse" nillable="true" type="tns:OpenResponse" />
  <xs:complexType name="ServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponse" nillable="true" type="tns:ServiceResponse" />
  <xs:complexType name="CloseResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CloseResponse" nillable="true" type="tns:CloseResponse" />
</xs:schema>