azureftp-for-sharepoint/07 Testers/ServiceTester/Service References/SharePointFtpService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.4guysfrompalmira.net/contracts/2013/04/04" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.4guysfrompalmira.net/contracts/2013/04/04" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.4guysfrompalmira.net/contracts/2013/04/04/Imports">
      <xsd:import schemaLocation="http://localhost:1972/SharePointFtpService/service?xsd=xsd0" namespace="http://www.4guysfrompalmira.net/contracts/2013/04/04" />
      <xsd:import schemaLocation="http://localhost:1972/SharePointFtpService/service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AzureFtpForSharePoint.Server.DataContracts.Faults" />
      <xsd:import schemaLocation="http://localhost:1972/SharePointFtpService/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1972/SharePointFtpService/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AzureFtpForSharePoint.Server.DataContracts.Parameters" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISharePointFtpService_Open_InputMessage">
    <wsdl:part name="parameters" element="tns:Open" />
  </wsdl:message>
  <wsdl:message name="ISharePointFtpService_Open_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenResponse" />
  </wsdl:message>
  <wsdl:message name="ISharePointFtpService_Open_InvalidUrlFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/AzureFtpForSharePoint.Server.DataContracts.Faults" name="detail" element="q1:InvalidUrlFault" />
  </wsdl:message>
  <wsdl:message name="ISharePointFtpService_List_InputMessage">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ISharePointFtpService_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="ISharePointFtpService_ChangeDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDirectory" />
  </wsdl:message>
  <wsdl:message name="ISharePointFtpService_ChangeDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISharePointFtpService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="ISharePointFtpService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="ISharePointFtpService">
    <wsdl:operation name="Open">
      <wsdl:input wsaw:Action="http://www.4guysfrompalmira.net/contracts/2013/04/04/ISharePointFtpService/Open" message="tns:ISharePointFtpService_Open_InputMessage" />
      <wsdl:output wsaw:Action="http://www.4guysfrompalmira.net/contracts/2013/04/04/ISharePointFtpService/OpenResponse" message="tns:ISharePointFtpService_Open_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.4guysfrompalmira.net/contracts/2013/04/04/ISharePointFtpService/OpenInvalidUrlFaultFault" name="InvalidUrlFaultFault" message="tns:ISharePointFtpService_Open_InvalidUrlFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:input wsaw:Action="http://www.4guysfrompalmira.net/contracts/2013/04/04/ISharePointFtpService/List" message="tns:ISharePointFtpService_List_InputMessage" />
      <wsdl:output wsaw:Action="http://www.4guysfrompalmira.net/contracts/2013/04/04/ISharePointFtpService/ListResponse" message="tns:ISharePointFtpService_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDirectory">
      <wsdl:input wsaw:Action="http://www.4guysfrompalmira.net/contracts/2013/04/04/ISharePointFtpService/ChangeDirectory" message="tns:ISharePointFtpService_ChangeDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://www.4guysfrompalmira.net/contracts/2013/04/04/ISharePointFtpService/ChangeDirectoryResponse" message="tns:ISharePointFtpService_ChangeDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://www.4guysfrompalmira.net/contracts/2013/04/04/ISharePointFtpService/Get" message="tns:ISharePointFtpService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://www.4guysfrompalmira.net/contracts/2013/04/04/ISharePointFtpService/GetResponse" message="tns:ISharePointFtpService_Get_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>