azureftp-for-sharepoint/07 Testers/ServiceTester/Service References/SharePointFtpService/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AzureFtpForSharePoint.Server.DataContracts.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AzureFtpForSharePoint.Server.DataContracts.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvalidUrlFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidUrlFault" nillable="true" type="tns:InvalidUrlFault" />
</xs:schema>