azureftp-for-sharepoint/07 Testers/ServiceTester/Service References/SharePointFtpService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AzureFtpForSharePoint.Server.DataContracts.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AzureFtpForSharePoint.Server.DataContracts.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OpenRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpenRequest" nillable="true" type="tns:OpenRequest" />
  <xs:complexType name="OpenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FolderUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpenResponse" nillable="true" type="tns:OpenResponse" />
  <xs:complexType name="ListRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FolderUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListRequest" nillable="true" type="tns:ListRequest" />
  <xs:complexType name="ListResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ListResponse" nillable="true" type="tns:ListResponse" />
  <xs:complexType name="ChangeDirectoryRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ChangeDirectoryRequest" nillable="true" type="tns:ChangeDirectoryRequest" />
  <xs:complexType name="ChangeDirectoryResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ChangeDirectoryResponse" nillable="true" type="tns:ChangeDirectoryResponse" />
  <xs:complexType name="GetRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetRequest" nillable="true" type="tns:GetRequest" />
  <xs:complexType name="GetResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetResponse" nillable="true" type="tns:GetResponse" />
</xs:schema>